@media (min-width: 1200px) {
  header {
    width: 1200px;
    margin: 0 auto;
  }
  header div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  header div h1 {
    position: relative;
    bottom: 280px;
    width: 112px;
    height: 112px;
    background: url("../image/logo.png");
    color: #222;
    cursor: pointer;
    margin-right: 3em;
  }
  header div h1:hover {
    opacity: 0.9;
  }
  header div img#fv {
    margin-right: 3em;
  }
  header div img#beans {
    position: relative;
    bottom: -7em;
    width: 260px;
    height: 400px;
    z-index: -1;
  }
  header menu {
    width: 100%;
    margin: 1em 0 1em 12em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  header menu li {
    list-style: none;
    display: block;
    text-align: center;
    padding: 35px 2em 15px;
    cursor: pointer;
  }
  header menu li:hover {
    background: url(../image/bean.png) no-repeat;
    background-position: top center;
  }
  section#concept {
    width: 100%;
    background-color: #1e1e1e;
    font-family: a-otf-ryumin-pr6n, serif;
    font-style: normal;
    color: #f3f0d3;
    padding: 20px;
  }
  section#concept .column {
    width: 840px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  section#concept .column img {
    cursor: pointer;
  }
  section#concept .column img:hover {
    opacity: 0.9;
  }
  section#concept h2 {
    margin: 30px;
    font-size: 2.3em;
  }
  section#concept p {
    font-size: 1em;
    margin: 30px;
  }
  section.commitment {
    width: 840px;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.commitment div {
    width: 400px;
  }
  section.commitment div h3 {
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 30px;
    border-bottom: 2px solid #817a3a;
  }
  section.commitment div p {
    margin-bottom: 30px;
  }
  section.commitment img {
    width: 400px;
  }
  section.commitment > *:last-child {
    margin-left: 40px;
  }
  section.commitment ul.button li {
    display: flex;
    justify-content: flex-end;
  }
  section.complement {
    width: 840px;
    margin: 60px auto;
  }
  section.complement h3 {
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 30px;
    border-bottom: 2px solid #817a3a;
  }
  section.complement div.text_right {
    text-align: right;
  }
  section.complement p {
    margin-bottom: 30px;
  }
  section#products {
    width: 1200px;
    margin: 60px auto;
  }
  section#products h3 {
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 30px;
    border-bottom: 2px solid #817a3a;
  }
  section#products .products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
  }
  section#products .products div.product {
    width: 250px;
  }
  section#products .products div.product img {
    cursor: pointer;
  }
  section#products .products div.product img:hover {
    opacity: 0.9;
  }
  section#products .products div.product h4 {
    font-weight: bold;
    margin-top: 1em;
    cursor: pointer;
  }
  section#products .products div.product .price {
    margin-bottom: 1em;
    cursor: pointer;
  }
  section#products .products div.product label.yen {
    padding: 0 0.4em;
    cursor: pointer;
  }
  section#products .products::before {
    content: "";
    display: block;
    width: 30px;
    height: 64px;
    background: url(../image/arrow_l.png) no-repeat;
    cursor: pointer;
  }
  section#products .products::after {
    content: "";
    display: block;
    width: 30px;
    height: 64px;
    background: url(../image/arrow_r.png) no-repeat;
    cursor: pointer;
  }
  section#info {
    width: 1200px;
    margin: 60px auto;
  }
  section#info h3 {
    font-size: 30px;
    line-height: 60px;
    margin: 0 0 30px 0;
    border-bottom: 2px solid #817a3a;
  }
  section#info > div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 30px 0;
  }
  section#info > div .store_image {
    margin-right: 60px;
  }
  section#info p {
    margin: 30px 0;
  }
  section#info h4 {
    font-size: 2em;
    margin: 1em 0;
  }
  section#info p.icon img {
    margin-right: 0.4em;
    cursor: pointer;
  }
  section#info p.icon img:hover {
    opacity: 0.8;
  }
  footer {
    background-color: #1e1e1e;
    color: #f3f0d3;
  }
  footer > div.main_foot_menu {
    width: 600px;
    margin: 0 auto;
    padding: 60px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  footer > div.main_foot_menu .logo_f {
    width: 80px;
  }
  footer > div.main_foot_menu ul {
    line-height: 2em;
  }
  footer > div.main_foot_menu ul li {
    cursor: pointer;
  }
  footer > div.main_foot_menu ul li:hover {
    opacity: 0.8;
  }
  footer > div.main_foot_menu .address_f {
    border-left: 1px solid rgba(243, 240, 211, 0.3137254902);
    padding-left: 1em;
    margin: 0 0 1em 1em;
  }
  footer > div.main_foot_menu .address_f p {
    margin: 1em 0;
  }
  footer > div.main_foot_menu div p.icon img {
    margin-right: 0.4em;
    cursor: pointer;
  }
  footer > div.main_foot_menu div p.icon img:hover {
    opacity: 0.8;
  }
  footer > div.sub_foot_menu {
    width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  footer > div.sub_foot_menu ul {
    border-top: 1px solid rgba(243, 240, 211, 0.3137254902);
    border-bottom: 1px solid rgba(243, 240, 211, 0.3137254902);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  footer > div.sub_foot_menu ul li {
    margin: 1em 4em;
    cursor: pointer;
  }
  footer > div.sub_foot_menu ul li:hover {
    opacity: 0.8;
  }
  footer > div.sub_foot_menu p {
    margin: 4em;
  }
  footer div.sub_foot_menu::after {
    content: "_";
    color: #1e1e1e;
  }
}/*# sourceMappingURL=style1200.css.map */