@charset "UTF-8";
html {
  color: #222;
  font-size: 15px;
  line-height: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
  background: url("../image/background.png");
}

.clear_text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

button {
  width: 230px;
  height: 50px;
  border-radius: 30px;
  background-color: #b7b17f;
  text-align: center;
  margin: 0.5em 0;
}

button:hover {
  opacity: 0.8;
}

button.article,
button.youtube {
  display: block;
  width: 230px;
  height: 50px;
  border-radius: 30px;
  background-color: #b7b17f;
  text-align: center;
  margin: 0.5em 0;
}

button.article::before {
  content: url("../image/ion_book.png");
  display: inline-block;
  vertical-align: middle;
  margin: 0.7em;
}

button.youtube::before {
  content: url("../image/mdi_youtube.png");
  display: inline-block;
  vertical-align: middle;
  margin: 0.6em;
}

button.reserve::before {
  content: url("../image/calender.png");
  display: inline-block;
  vertical-align: middle;
  margin: 0.6em;
}

ul.square {
  margin: 0 0 1em 2em;
}
ul.square li {
  line-height: 2em;
  list-style: square;
}

input {
  border: 1px solid #333;
  border-radius: 10px;
  padding: 0.5em;
}

img {
  vertical-align: bottom;
}

@media (max-width: 768px) {
  header {
    width: 100%;
    margin: 0 auto;
  }
  header div h1 {
    position: absolute;
    top: 2em;
    left: 2em;
    width: 112px;
    height: 112px;
    background: url("../image/logo_s.png");
    color: #222;
    cursor: pointer;
  }
  header div h1:hover {
    opacity: 0.9;
  }
  header div img#fv {
    margin-top: 0px;
    width: 100%;
  }
  header div img#beans {
    display: none;
  }
  header > div::after {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-family: a-otf-ryumin-pr6n, serif;
    font-style: normal;
    margin: 1em 0;
    content: "珈琲豆のオンライン通販、はじめました。";
  }
  header menu {
    margin: 0;
    padding: 0;
    line-height: 4em;
  }
  header menu li {
    color: #f3f0d3;
    display: block;
    height: 4em;
    list-style: none;
    cursor: pointer;
    text-align: center;
    background-color: #1e1e1e;
    border-bottom: 1px solid rgba(243, 240, 211, 0.3137254902);
  }
  header menu li img {
    display: none;
  }
  header menu li br {
    display: none;
  }
  header menu li:hover {
    opacity: 0.9;
  }
  section#concept {
    width: 100%;
    background-color: #1e1e1e;
    font-family: a-otf-ryumin-pr6n, serif;
    font-style: normal;
    color: #f3f0d3;
    padding: 20px;
  }
  section#concept .column {
    width: 100%;
    text-align: center;
  }
  section#concept .column img {
    width: 166px;
    cursor: pointer;
  }
  section#concept .column img:hover {
    opacity: 0.9;
  }
  section#concept .column p {
    text-align: left;
  }
  section#concept .column br {
    display: none;
  }
  section#concept h2 {
    margin: 30px;
    font-size: 2.3rem;
    line-height: 3.3rem;
  }
  section#concept p {
    font-size: 1em;
    margin: 30px;
  }
  section.commitment {
    margin: 30px;
    text-align: center;
  }
  section.commitment br {
    display: none;
  }
  section.commitment div {
    width: 100%;
  }
  section.commitment div h3 {
    text-align: center;
    font-size: 30px;
    line-height: 1.6em;
    margin-bottom: 30px;
    border-bottom: 2px solid #817a3a;
  }
  section.commitment div p {
    text-align: left;
    margin-bottom: 30px;
  }
  section.commitment img {
    width: 100%;
    max-width: 400px;
  }
  section.commitment img.commitment_l {
    display: none;
  }
  section.commitment ul.square li {
    font-weight: 600;
    line-height: 2.4em;
  }
  section.commitment ul.button li {
    display: flex;
    justify-content: flex-end;
  }
  section.complement {
    margin: 30px;
  }
  section.complement h3 {
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 30px;
    border-bottom: 2px solid #817a3a;
  }
  section.complement div.text_right {
    text-align: right;
  }
  section.complement p {
    margin-bottom: 30px;
  }
  section#products {
    margin: 30px;
  }
  section#products h3 {
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 30px;
    border-bottom: 2px solid #817a3a;
  }
  section#products .products {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0;
  }
  section#products .products div.product {
    width: 250px;
    margin: 0 10px;
  }
  section#products .products div.product img {
    cursor: pointer;
  }
  section#products .products div.product img:hover {
    opacity: 0.9;
  }
  section#products .products div.product h4 {
    font-weight: bold;
    margin-top: 1em;
    cursor: pointer;
  }
  section#products .products div.product .price {
    margin-bottom: 1em;
    cursor: pointer;
  }
  section#products .products div.product label.yen {
    padding: 0 0.4em;
    cursor: pointer;
  }
  section#products .products div.product p {
    margin-bottom: 30px;
  }
  section#info {
    margin: 30px;
  }
  section#info h3 {
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    margin: 0 0 30px 0;
    border-bottom: 2px solid #817a3a;
  }
  section#info > div {
    margin: 30px 0;
    text-align: center;
  }
  section#info > div .store_image {
    display: flex;
    justify-content: center;
  }
  section#info > div .store_image img {
    width: 90%;
    max-width: 480px;
  }
  section#info p {
    margin: 30px 0;
  }
  section#info h4 {
    font-size: 2em;
    margin: 1em 0;
  }
  section#info p.icon img {
    margin-right: 0.4em;
    cursor: pointer;
  }
  section#info p.icon img:hover {
    opacity: 0.8;
  }
  section#info img.map {
    width: 100%;
  }
  footer {
    background-color: #1e1e1e;
    color: #f3f0d3;
  }
  footer > div.main_foot_menu {
    margin: 0 30px;
    padding: 60px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  footer > div.main_foot_menu .logo_f {
    width: 80px;
  }
  footer > div.main_foot_menu ul {
    line-height: 2em;
  }
  footer > div.main_foot_menu ul li {
    cursor: pointer;
  }
  footer > div.main_foot_menu ul li:hover {
    opacity: 0.8;
  }
  footer > div.main_foot_menu .address_f {
    border-left: 1px solid rgba(243, 240, 211, 0.3137254902);
    padding-left: 1em;
    margin: 0 0 1em 1em;
  }
  footer > div.main_foot_menu .address_f p {
    margin: 1em 0;
  }
  footer > div.main_foot_menu div p.icon img {
    margin-right: 0.4em;
    cursor: pointer;
  }
  footer > div.main_foot_menu div p.icon img:hover {
    opacity: 0.8;
  }
  footer > div.sub_foot_menu {
    margin: 0 30px;
    text-align: center;
  }
  footer > div.sub_foot_menu ul {
    border-top: 1px solid rgba(243, 240, 211, 0.3137254902);
    border-bottom: 1px solid rgba(243, 240, 211, 0.3137254902);
  }
  footer > div.sub_foot_menu ul li {
    margin: 1em 4em;
    cursor: pointer;
  }
  footer > div.sub_foot_menu ul li:hover {
    opacity: 0.8;
  }
  footer > div.sub_foot_menu p {
    margin: 4em;
  }
  footer div.sub_foot_menu::after {
    content: "_";
    color: #1e1e1e;
  }
  menu#menu li {
    display: none;
  }
  button#toggle-menu {
    display: block;
    border: none;
    outline: none;
    padding: 0;
    width: 30px;
    height: 24px;
    background: transparent;
    cursor: pointer;
    margin: 1em;
  }
  .open-line::before {
    position: relative;
    top: 0px;
    content: "";
    display: block;
    background-color: #333;
    width: 30px;
    height: 2px;
    z-index: 2;
  }
  .open-line div::after {
    position: relative;
    top: 8px;
    content: "";
    display: block;
    background-color: #333;
    width: 30px;
    height: 2px;
    z-index: 2;
  }
  .open-line::after {
    position: relative;
    top: 16px;
    content: "";
    display: block;
    background-color: #333;
    width: 30px;
    height: 2px;
    z-index: 2;
  }
  .close-line::before {
    position: relative;
    top: 7px;
    content: "";
    display: block;
    background-color: #333;
    width: 32px;
    height: 2px;
    z-index: 2;
    transform: rotate(45deg);
  }
  .close-line::after {
    position: relative;
    top: 5px;
    content: "";
    display: block;
    background-color: #333;
    width: 32px;
    height: 2px;
    z-index: 2;
    transform: rotate(135deg);
  }
}/*# sourceMappingURL=style.css.map */