html {
  font-size: 15px;
  line-height: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
  background: url("../image/background.png");
}

//header
@media (min-width: 375px) and (max-width: 768px) {
  header {
    width: 100%;
    margin: 0 auto;
    div {
      // ロゴの表示
      h1 {
        position: absolute;
        top: 2em;
        left: 2em;
        width: 112px;
        height: 112px;
        background: url("../image/logo_s.png");
        color: #222;
        cursor: pointer;
        // margin-right: 3em;
      }
      h1:hover {
        opacity: 0.9;
      }
      img#fv {
        margin-top: 0px;
        width: 100%;
      }
      img#beans {
        display: none;
      }
    }
    > div::after {
      display: block;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      font-family: serif;
      margin: 1em 0;
      content: "オンライン通販 はじめました。";
    }
    menu {
      margin: 0;
      padding: 0;
      line-height: 4em;
      li {
        color: #f3f0d3;
        display: block;
        height: 4em;
        list-style: none;
        cursor: pointer;
        text-align: center;
        background-color: #1e1e1e;
        border-bottom: 1px solid #f3f0d350;
      }
      li img {
        display: none;
      }
      li br {
        display: none;
      }
      li:hover {
        opacity: 0.9;
      }
    }
  }
}
//header
@media (min-width: 768px) and (max-width: 1200px) {
  header {
    width: 800px;
    margin: 0 auto;
    div {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      // ロゴの表示
      h1 {
        position: absolute;
        top: 1rem;
        width: 112px;
        height: 112px;
        background: url("../image/logo.png");
        color: #222;
        cursor: pointer;
        // margin-right: 3em;
      }
      h1:hover {
        opacity: 0.9;
      }
      img#fv {
        margin-left: 240px;
      }
      img#beans {
        position: absolute;
        width: 260px;
        height: 400px;
        top: 120px;
        z-index: -1;
      }
    }
    menu {
      width: 100%;
      margin: 1em 0 1em 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5em;
      line-height: 2em;
      li {
        list-style: none;
        margin-right: 3em;
        cursor: pointer;
        text-align: center;
      }
      li img:hover {
        opacity: 1;
      }
      li img {
        opacity: 0;
      }
    }
  }
}
// header
@media (min-width: 1200px) {
  header {
    width: 1200px;
    margin: 0 auto;
    div {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      // ロゴの表示
      h1 {
        position: relative;
        bottom: 280px;
        width: 112px;
        height: 112px;
        background: url("../image/logo.png");
        color: #222;
        cursor: pointer;
        margin-right: 3em;
      }
      h1:hover {
        opacity: 0.9;
      }
      img#fv {
        margin-right: 3em;
      }
      img#beans {
        position: relative;
        bottom: -7em;
        width: 260px;
        height: 400px;
        z-index: -1;
      }
    }
    menu {
      margin: 1em 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5em;
      line-height: 2em;
      li {
        list-style: none;
        margin-right: 4em;
        cursor: pointer;
        text-align: center;
      }
      li img:hover {
        opacity: 1;
      }
      li img {
        opacity: 0;
      }
    }
  }
}

// concept
section#concept {
  width: 100%;
  background-color: #1e1e1e;
  font-family: a-otf-ryumin-pr6n, serif;
  font-style: normal;
  color: #f3f0d3;
  padding: 20px;
  .column {
    width: 840px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
      cursor: pointer;
    }
    img:hover {
      opacity: 0.9;
    }
  }

  h2 {
    margin: 30px;
    font-size: 2.3em;
  }

  p {
    font-size: 1em;
    margin: 30px;
  }
}

// commitment
section.commitment {
  width: 840px;
  margin: 60px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    width: 400px;
    h3 {
      font-size: 30px;
      line-height: 60px;
      margin-bottom: 30px;
      border-bottom: 2px solid #817a3a;
    }
    p {
      margin-bottom: 30px;
    }
  }
  img {
    width: 400px;
  }
  > *:last-child {
    margin-left: 40px;
  }
  ul.button li {
    display: flex;
    justify-content: flex-end;
  }
}

section.complement {
  width: 840px;
  margin: 60px auto;
  h3 {
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 30px;
    border-bottom: 2px solid #817a3a;
  }
  div.text_right {
    text-align: right;
  }
}

section#products {
  width: 1200px;
  margin: 60px auto;
  h3 {
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 30px;
    border-bottom: 2px solid #817a3a;
  }
  .products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    div.product {
      width: 250px;
      h4 {
        font-weight: bold;
        margin-top: 1em;
      }
      .price {
        margin-bottom: 1em;
      }
      label.yen {
        padding: 0 0.4em;
      }
    }
  }

  .products::before {
    content: "";
    display: block;
    width: 30px;
    height: 64px;
    background: url(../image/arrow_l.png) no-repeat;
    cursor: pointer;
  }
  .products::after {
    content: "";
    display: block;
    width: 30px;
    height: 64px;
    background: url(../image/arrow_r.png) no-repeat;
    cursor: pointer;
  }
}

section#info {
  width: 1200px;
  margin: 60px auto;
  h3 {
    font-size: 30px;
    line-height: 60px;
    margin: 0 0 30px 0;
    border-bottom: 2px solid #817a3a;
  }
  > div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 30px 0;
    .store_image {
      margin-right: 60px;
    }
  }
  p {
    margin: 30px 0;
  }
  h4 {
    font-size: 2em;
    margin: 1em 0;
  }
  p.icon img {
    margin-right: 0.4em;
    cursor: pointer;
  }
}

footer {
  background-color: #1e1e1e;
  color: #f3f0d3;
  > div.main_foot_menu {
    width: 600px;
    margin: 0 auto;
    padding: 60px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .logo_f {
      width: 80px;
    }
    ul {
      line-height: 2em;
      li {
        cursor: pointer;
      }
      li img:hover {
        opacity: 1;
      }
      li img {
        opacity: 0;
      }
    }
    .address_f {
      border-left: 1px solid #f3f0d350;
      padding-left: 1em;
      margin: 0 0 1em 1em;
      p {
        margin: 1em 0;
      }
    }
    div p.icon img {
      margin-right: 0.4em;
      cursor: pointer;
    }
  }
  > div.sub_foot_menu {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    ul {
      border-top: 1px solid #f3f0d350;
      border-bottom: 1px solid #f3f0d350;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      li {
        margin: 1em 4em;
        cursor: pointer;
      }
    }
    p {
      margin: 4em;
    }
  }
  div.sub_foot_menu::after {
    content: "_";
    color: #1e1e1e;
  }
}

.clear_text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

button {
  width: 230px;
  height: 50px;
  border-radius: 30px;
  background-color: #b7b17f;
  text-align: center;
  margin: 0.5em 0;
}

button.article,
button.youtube {
  display: block;
  width: 230px;
  height: 50px;
  border-radius: 30px;
  background-color: #b7b17f;
  text-align: center;
  margin: 0.5em 0;
}

button.article::before {
  content: url("../image/ion_book.png");
  display: inline-block;
  vertical-align: middle;
  margin: 0.7em;
}

button.youtube::before {
  content: url("../image/mdi_youtube.png");
  display: inline-block;
  vertical-align: middle;
  margin: 0.6em;
}

button.reserve::before {
  content: url("../image/calender.png");
  display: inline-block;
  vertical-align: middle;
  margin: 0.6em;
}

ul.square {
  margin: 0 0 1em 2em;
  li {
    line-height: 2em;
    list-style: square;
  }
}

input {
  border: 1px solid #333;
  border-radius: 10px;
  padding: 0.5em;
}
