html {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  background: url("../image/background.png");
}

// header
header {
  div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    // ロゴの表示
    h1 {
      position: relative;
      bottom: 280px;
      width: 112px;
      height: 112px;
      background: url("../image/logo.png");
      color: #222;
      cursor: pointer;
      margin-right: 3em;
    }
    h1:hover {
      opacity: 0.9;
    }
    img#fv {
      margin-right: 3em;
    }
    img#beans {
      position: relative;
      bottom: -7em;
      width: 260px;
      height: 400px;
      z-index: -1;
    }
  }
  menu {
    margin: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    line-height: 2em;
    li {
      list-style: none;
      margin-right: 4em;
      cursor: pointer;
      text-align: center;
    }
    li img:hover {
      opacity: 1;
    }
    li img {
      opacity: 0;
    }
  }
}

// concept
section#concept {
  background-color: #1e1e1e;
  font-family: a-otf-ryumin-pr6n, serif;
  font-style: normal;
  color: #f3f0d3;
  line-height: 1.5em;
  padding: 20px;
  .column {
    width: 840px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
      cursor: pointer;
    }
    img:hover {
      opacity: 0.9;
    }
  }

  h2 {
    margin: 30px;
    font-size: 2.3em;
  }

  p {
    font-size: 1em;
    margin: 30px;
  }
}

.clearText {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
